html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.container__mobil{
  display: none;
}
.box__image{
  display: grid;
  grid-template-columns: repeat(4,256px);
  justify-content: center;
  grid-gap: 1rem;
}
.box__link{
  position: relative;
}
.box__title{
  position: absolute;
  bottom: 20px;
  left: 1rem;
  
}
.btn-div-footer {
  padding-right: 220px;
  padding-top:25px ;
}
.font-alata{
  font-family: 'Alata', sans-serif;
}
.font-josefin{
  font-family: 'Josefin Sans', sans-serif;
}
.back-color{
  background-color: #fff;
}
.font-15{
  font-size: 15px;
}
.card-css{
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
  height: 60px;
}
.color-w{
    color: #ffffff;
}
.card-css-mobil{
  font-weight: 300;
font-size: 25px;
line-height: 25px;
letter-spacing: 0.05em;

color: #FFFFFF;
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nav__listfooter{
    padding-left: 100px;
  }
  .btn-div-footer{
    padding-right: 0px;
  }
  .btn-div-icon {
    padding-right: 220px;
    padding-top:40px!important;
  }
  .footer-text {
    padding-top:27px;
    line-height: 21px;
    /* identical to box height */
    width: 500px;
    color: #696969;
  }
  .box__image{
    display: grid;
    grid-template-columns: repeat(3,256px);
    justify-content: center;
    grid-gap: 1rem;
  }
  .square_home{
    
    max-height: 100%;
    max-width: 70%;
    margin-top:-130px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    left:110px;
  }
  .square_home p {
    
    font-size: 50px!important;
}

.side {
  max-width: 309px;
  max-height: 150px ;
  top:660px!important;
  left: 250px !important;
}

.title-side {
  padding-left: 50px!important;
  font-weight: 300;
  font-size: 30px !important;
  line-height: 30px !important;
  text-align: center!important;
 
}

.content-side {
  height: 175px !important;
  line-height: 25px !important;
  padding-left: 0px !important;
  padding-right: 250px !important;
  padding-top: 30px;
  text-align: center;
}

.imagecenter {
  width: 309px !important;
  height: 212px !important;
  left: 280px !important;
  top: 445px !important;
}

.one{
  min-height: 550px;
}
}
/* media only 800-1200 end*/
.nav {
  height: 5rem;
  width: 100%;
  display: block;
  justify-content: flex-start;
  z-index: 10;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  position: fixed;
}
.square_home {
  position: absolute;
  width: 642px;
  height: 279px;
  left: 150px;
  top: 222px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
}
.square_home p {
  padding-left: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 70px;
  padding-top: 39px;
}

.flex-container {
  list-style: none;
  display: flex;
  margin: 50px 0;
}

.flex-footer {
  list-style: none;
  display: flex;
  
}


.space-between { 
  justify-content: space-between; 
}  
.title-h1{
  font-weight: 300;
  font-size: 30px;
  line-height: 20px;
  margin-left: 200px;
}
.btn{
  color: black;
  width: 138px;
  height: 34px;
} 
.btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.btn-div {
  padding-right: 220px;
  padding-top:20px;
}

.btn-div-icon {
  padding-right: 220px;
  padding-top:20px;
}

.box__link img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.box__link:hover img {
  opacity:0.8;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.box__title:hover h4 {
  opacity:0.8;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.footer {
  display: none;
}
.btn-div-mobil {
  display: none;
}



@media only screen and (min-width: 320px) and (max-width: 800px) {
  .title-h1{
   margin-left:60px;
  }
  
  .btn-div {
   display: none;
  }
.container{
  display: none;
}
  .container__mobil{
    max-width: 375px;
    display: block;
    margin: 0 auto;
  }
  .mobilimage {
    max-width: 350px !important;
    max-height: 400px !important;
    padding-left: 20px;
  }
  .box__link__mobil{
    position: relative;
  }
  .box__title__mobil{
    position: absolute;
    bottom: 20px;
    left: 2rem;
  }
  
  .btn-div-mobil {
    display: block;
    margin-left:120px;
  }

 .mobil-image{
   width: 100%;
 
 }
 .nav {
  height: 5rem;
  width: 100%;
  display: block;
  justify-content: flex-start;
  z-index: 10;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  position: fixed;
}
  .square_home {
    width: 322px;
    height: 207px;
    left: 27px;
    top: 222px;
  }
  .square_home p {
    width: 270px;
    height: 160px;
    left: 40px;
    top: 254px;

    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
  }

  .imagecenter {
    position: relative;
    width: 309px !important;
    height: 212px !important;
    left: 33px !important;
    top: 742px !important;
  }

  .side {
    width: 309px !important;
    height: 212px !important;
    left: 60px !important;
  }

  .title-side {
    width: 245px;
    height: 60px;
    top: 59px !important;
    font-weight: 300;
    font-size: 30px !important;
    line-height: 30px !important;
    text-align: center;
    padding-top: 10px !important;
  }

  .content-side {
    width: 277px !important;
    height: 175px !important;
    top: 1089px !important;
    line-height: 25px !important;
    padding-left: 5px !important;
    padding-right: 25px;
    padding-top: 60px;
    text-align: center;
  }
.three {
    display: none;
  }
.footer {
    display: block;
    background-color: black;
    width: 100%;
    height: 450px;
    margin-top: 150px;
  }
  .footerlogomobil {
    padding-left: 90px;
    padding-top: 35px;
    width: 55px;
  }

  .nav__listfootermobil {
    list-style: none;
    text-align: center;
    margin-top: 49px;
  }

  .nav__linkfootermobil {
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 16px 0;
    letter-spacing: 1px;
    line-height: 33px;
    font-weight: 300;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #fff;
  }

  .nav__listiconmobil {
    list-style: none;
    padding-top: 50px;
    padding-left: 110px;
  }

  .nav__itemiconmobil {
    float: left;
    margin-right: 10px;
    margin-left: 4px;
  }

  .footer-textmobil {
    padding-top: 50px;
    padding-left: 50px;
    line-height: 21px;
    color: #696969;
  }

}

.nav {
  height: 5rem;
  width: 100%;
  display: block;
  justify-content: flex-start;
  z-index: 10;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 55vh;
  margin-top: -49px;
  padding: 0vh 4vw;
}
.nav__listfooter {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 150px;
  margin-top: 49px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 700;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #fff;
}
.nav__linkfooter {
  color: inherit;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 300;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #fff;
}
.nav__listicon {
  list-style: none;
  display: flex;
}
.nav__itemicon {
  padding-left: 14px;
  top: 54px;
}

.footer-text {
  padding-top:20px;
  line-height: 21px;
  color: #696969;
}

.nav-toggle {
  display: none;
}

.nav__link::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.nav__link:active::before {
  background-color: #fff;
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.logo {
  padding: 3vh 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgb(22, 8, 8);
  text-transform: uppercase;
  width: 25rem;
}

.smalllogo {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    height: 100vh;
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding: 135px;
    background-color: #111;
    width: 100%;
  }

  .logo {
    display: block;
  }

  .smalllogo {
    position: absolute;
    padding: 4.7vh 8vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: #111;
    text-transform: uppercase;
  }

  .logolink {
    text-decoration: none;
    color: #111;
  }

  .nav-toggle {
    display: block;
    padding: 2.3em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    outline: none;
  }

  .nav__link {
    margin: 0;
    color: #fff;
  }

  .nav-open {
    overflow: hidden;
  }

  .nav-open .nav {
    transform: translateX(0);
    width: 100vw;
  }

  .nav-open .logo {
    display: none;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
    background-color: #fff;
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background-color: #fff;
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background-color: #fff;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav__item {
    color: #fff;
  }

  .nav__link::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }

  .nav__link:active::before {
    background-color: #fff;
  }

  .nav__link:hover::before,
  .nav__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

section {
  width: 100%;

  margin: auto;

  min-height: 110vh;
}

.one {
  width: 100px;
  margin: 0 auto;
  padding: 50px 0;
}
.side {
  position: absolute;
  bottom: -550px;
  right: 150px;
  width: 569px;
  height: 388px;
  left: 720px;
  top: 1004px;
}

.imagecenter{
  position: absolute;
  width: 731px;
  height: 500px;
  left: 165px;
  top: 816px;
}

.title-side {
  text-align: center;
  padding-top: 84px;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;

  color: #000000;
}

.content-side {
  width: 600px;
  height: 108px;
  padding-left: 105px;
  top: 1209px;
  line-height: 21px;
  color: #8c8c8c;
}

.three {
  background-color: black;
  width: 100%;
  height: 160px !important;
  left: 0px;
  min-height: 0;
}
.footerlogo {
  padding-left: 164px;
  padding-top: 35px;
  width: 55px;
}
